[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = "*"
pytest = "*"
flask-wtf = "*"
flask = "*"
flask-pymongo = "*"
flask-jwt-extended = "*"
python-dotenv = "*"
flask-limiter = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.10"
